<h3>Add a New Client</h3>
<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button class="btn-success">Add Client</button>
</form>
